$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header";
@import "queries";




body {
font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

*{
  margin:0;
  padding:0;
}
* a:hover, * a:visited, * a:focus, * button:visited, * button:focus, * button:hover {
  text-decoration: none;
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    opacity:  0.7;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  0.7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

